<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>New Role</title>
</head>
<body>
	<h3>New Role</h3>
	<div th:if="${param.error}" th:text="${roleMessage}"></div>
	<form th:action="@{/role}" method="post">
		<div>
			<label> Role Name : <input type="text" name="name" />
			</label>
		</div>
		<!-- <div><label> Password: <input type="password" name="password"/> </label></div> -->
		<div>
			<input type="submit" value="Save" />
		</div>
		<table>
			<tr>
				<td></td>
			</tr>
		</table>
	</form>
</body>
</html>